
	<article class="listing">
		<img src="{home.image}" alt="model home">
		<h3>{{home.title}}</h3>
		<div class="detail development">
			<span>Description: </span>{{home.development}}
		</div>
	</article>


{{yield}}
