
	<article class="listing">
		<img src="assets/images/{{home.id}}.png" alt="model home">
		<h3>{{home.title}}</h3>
		<div class="detail development">
			<span>Description: </span>{{home.development}}
		</div>
	</article>


{{yield}}
