<div class="jumbo">
	<h2>About the Company</h2>
	<p>We're a real estate development firm located in beautiful Newport Beach, California (not "The OC").</p>

	{{#link-to 'contact' class="button"}}
		Contact Us
	{{/link-to}}
</div>


{{outlet}}
