<div class="jumbo">
<h2>Contact Us</h2>
	<div>
		<address class="real-estate">
			Bluth Company<br>
			3rd Floor<br>
			Newport Beach, CA
		</address>
	</div>
	<div>
	<img src ="assets/images/bluth-company-office.png" alt="company offices" />
	</div>

	<div>
		<address class="banana-stand">
			Bluth's Original Frozen Banana Stand<br>
			Oceancide Wharf Boardwalk, Balboa Island<br>
			Newport Beach, CA<br>
		</address>
	</div>
	<div>
	<img src ="assets/images/bluth-frozen-banana-stand.png" alt="frozen banana stand" />
	</div>

	{{#link-to 'about' class="button"}}
		About
	{{/link-to}}

</div>

{{outlet}}
