<div class="jumbo">
<h2>Contact Us</h2>

	<article class="listing">
		<div class="detail">
			<span>
			Bluth Company<br>
			3rd Floor<br>
			Newport Beach, CA
			</span>
		</div>
		<img src ="assets/images/bluth-company-office.png" alt="company offices" />

		<div class="detail">
			<h5>Bluth's Original Frozen Banana Stand</h5>
			<span class="banana-stand">
				
				Oceanside Wharf Boardwalk, Balboa Island<br>
				Newport Beach, CA<br>
			</span>
		</div>
		<img src ="assets/images/bluth-frozen-banana-stand.png" alt="frozen banana stand" />
	</article>


	

	{{#link-to 'about' class="button"}}
		About
	{{/link-to}}

</div>

{{outlet}}
