<div class="jumbo">
<h2>See Our Model Homes</h2>

{{#link-to 'about' class="button"}}
	About Us
{{/link-to}}
</div>

{{#each model as |home|}}
	<article class="listing">
		<h3>{{home.title}}</h3>
		<div class="detail development">
			<span>Description: </span>{{home.development}}
		</div>
	</article>
{{/each}}


{{outlet}}
